<h1>{{nameParam}}</h1>
{% filter upper %}
    <strong></strong>This text becomes uppercase
{% endfilter %}

{% if true %}
<strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</strong>
    <p>Our website is in maintenance mode. Please, come back later.</p>
{% endif %}




{% for i in 0..10 %}
    <strong>* {{ i }}</strong>
{% endfor %}
