{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <ul class="list-inline">
            <li>HOME</li>
            <li><a href="{{ path('list_genus') }}">LIST</a></li>
            {#<li><a href="{{ asset('/genus') }}">LIST</a></li>#}
        </ul>
    </div>
{% endblock %}
